*{
box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style-type: none;}
li{font-size: 1.25;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: rgb(230, 230, 230);
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 11px 21px;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.5);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #f0e5e3;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.75em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blue;
}

/*Inicio*/
#hero h1{
    font-size: em;
}

#hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color:white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/herooo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h2{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

/*CARTAS de tipos de ropa*/
#tipos-de-ropa{
    background-color: rgba(30,30,30);
    color: white;
    text-align: center;
}

#tipos-de-ropa .container{
    padding: 150px 12px;
}

#tipos-de-ropa h2{
    margin: 0;
    font-size: 3.5em;
    padding-bottom: 20px;
}

#tipos-de-ropa .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 235px 50px;
    border-radius: 30px;
    margin: 20px;
    color: black;
    height: 60vh;
}

.carta:first-child{
        background-image: linear-gradient(
        0deg,
        rgba(255, 0, 0, 0.35)
        )
    ,url("media/ALANIS-W.png");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(17, 0, 255, 0.2)
        )
    ,url("media/ALANIS-M.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1)
        )
    ,url("media/JACKSON-Y.jpg");
}

#comprar-ahora{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color:white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Temporada.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*caracteristicas de envio*/
#Caracteristicas{
    background-color: #f1ebea;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50vh;
    color: rgb(0, 0, 0);
}

#Caracteristicas .container{
    text-align: center;
    text-align: justify;
    padding: 200px 12px;
}

#Caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

/*Pie de pagina*/
footer{
    background-color: rgb(30, 30, 30); 
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(90, 90, 90);
}

footer .container{
    height: 150px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#comprar-ahora h2{
    font-size: 10vw;
}

#comprar-ahora button{
    font-size: 2em;
}
/*FIN DE INDEX o INICIO*/

/* Parte de productos */
body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #333;
    max-width: 1200px;
}

.icon-cart{
    width: 40px;
    height: 40px;
}

img{
    max-width: 100%;
}

/*MEDIA*/
@media(min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 50px;
    }
    
    #tipos-de-ropa .tipos{
        display: flex;
        justify-content: center;
    }
}